// Modern format (woff + ttf)
@mixin font($family, $filePath, $weight: normal, $style: normal) {

    @font-face {
        font-weight: $weight;
        font-family: $family;
        font-style: $style;
        src:
            url("#{$filePath}.woff") format("woff"),
            url("#{$filePath}.woff2") format("woff2"),
            url("#{$filePath}.ttf") format("truetype");
        font-display: swap;

    }

}

@include font('Roboto', '../fonts/Roboto-Regular', normal);
@include font('Roboto', '../fonts/Roboto-Bold', 700);
