/**
*             -------576px------------768px---------992px---------1200px-------------1400px--------
*             100%-----------540px-----------720px---------960px------------1140px-----------1320px
* max-width | phone--------phone-big--------tablet--------laptop---------laptop-big---------desktop
* min-width | phone--------phone-big--------tablet--------laptop---------laptop-big---------desktop
*/
// Media-queries screen width
$lg-dim: 1200px;
$md-dim: 768px;

// Container width
$lg-container: 1150px;
$md-container: 728px;
$sm-container: 100%;


// using max-width
@mixin tablet {
  @media screen and (max-width: calc(#{$lg-dim} - 1px)) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: calc(#{$md-dim} - 1px)) {
    @content;
  }
}
