// colors
$c-body-bg: #FFFFFF;
$c-dark: #333333;
$c-text--global: $c-dark;
$c-accent: #E11C4B;
$c-light-gray: #E8E8E8;
$c-gray: #D8D8D8;
$c-input-border: #DDDDDD;

// typography
$f-size-text-bg             : 160px;

// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-family--global   : Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-weight--global   : 400;
$f-size--global     : 18px;
$l-height--global   : 1.66;

// misc
$transition-generic: .3s ease;
