// colors
$c-black: #000E1E;

// typography
$f-size-text-bg             : 160px;

// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-family--global   : 'Panton', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-weight--global   : 400;
$f-size--global     : 18px;
$l-height--global   : 1.56;
