.special {
  &__banner {
    margin-bottom: 18px;

    img {
      width: 100%;
      height: auto;
    }

    @include phone {
      margin-bottom: 12px;
    }
  }

  &__title {
    margin-bottom: 18px;
    line-height: 42px;

    @include phone {
      margin-bottom: 12px;
      line-height: 28px;
    }
  }

  &__subtitle {
    margin-bottom: 18px;
    color: $c-subtitle;
    font-weight: 400;
    font-size: 22px;

    @include phone {
      font-size: 18px;
    }
  }
}
