html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: $c-text--global;
  font-weight: $f-weight--global;
  font-size: $f-size--global;
  font-family: $f-family--global;
  line-height: $l-height--global;
  background-color: $c-body-bg;

  @include tablet {
    font-size: 16px;
    line-height: 1.4;
  }

}

main {
  padding-top: 36px;
  padding-bottom: 82px;

  @include tablet {
    padding-bottom: 60px;
  }

  @include phone {
    padding-top: 24px;
    padding-bottom: 72px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: $lg-container;
  margin: 0 auto;

  @include tablet {
    max-width: $md-container;
  }

  @include phone {
    max-width: calc($sm-container - 20px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.wip {
  border: 2px dashed red;
}

.fish {
  border: 2px dashed orange;
}
